.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 40px 30px;
    background-color: #f1f1f1;
    border-radius: 0 0 50px 50px;
    font-size: 14px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all 0.1s ease-in-out;
}

.container.dark-mode {
    background-color: #1e1e1e !important;
    color: #f3f3f3 !important;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 30px;
    width: calc(100vw - 60px);
    transition: all 0.3s ease-in-out;
}

.top-bar.sticky {
    background-color: #f1f1f110;
    backdrop-filter: blur(11px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.top-bar.sticky.round {
    border-radius: 0 0 50px 50px;
}

.top-bar div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.no-shadow {
    box-shadow: none;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.profile-picture.dark-mode {
    border-color: #f3f3f3 !important;
}

.profile button {
    font-size: 16px;
}

.tagline {
    font-size: 40px;
    text-align: center;
}

.tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(75px, 0px);
}

.tag {
    background-color: white;
    width: 145px;
    text-align: center;
    padding: 12px;
    border-radius: 50px;
    border: 5px solid white;
    font-weight: bold;
    transform: translate(-20px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: all 0.3s ease-in-out;
}

.tag.dark-mode {
    background-color: #f3f3f3 !important;
    border-color: #f3f3f3;
    color: #0f0f0f !important;
}

.tag.no-margin {
    margin: 0;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.tag .dot div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    z-index: 1;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.buttons {
    display: flex;
    gap: 20px;
}

.mobile {
    display: none !important;
}

.copy-icon,
.cv-icon,
button.icon {
    padding: 13.5px;
}

.mobile {
    display: none;
}


@media only screen and (max-width: 800px) {
    .top-bar {
        width: calc(100vw - 40px);
        gap: 7px;
            padding: 20px 20px;
    }

    .mobile {
        display: flex !important;
        gap: 7px !important;
    }

    .full {
        display: none !important;
    }

    .profile {
        margin-top: 80px;
    }

    .profile-picture {
        width: 110px;
        height: 110px;
    }

    .tag-container {
        flex-direction: column;
        transform: translate(0px, 0px);
    }

    .tag {
        transform: translate(0px, 0px);
        width: 145px !important;
    }

    .tagline {
        font-size: 30px;
        text-align: center;
    }
}