.container {
    background-color: #f1f1f1;
}

.pub-container {
    padding: 50px 30px;
    padding-top: 100px;
    padding-bottom: 70px;
    margin: auto;
    margin-top: 50px;
    max-width: 700px;
}

.container.dark-mode {
    background-color: #1e1e1e !important;
    color: #f3f3f3 !important;
}

.headline h1.dark-mode {
    background-color: #0f0f0f !important;
}

.pub-container.dark-mode {
    background-color: #1e1e1e !important;
    color: #f3f3f3 !important;
}

/* Headline */
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline .line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.headline h1 {
    padding: 20px 40px;
    font-size: 26px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-55px);
}

/* Card layout */
.pub-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.7;
}

.pub-card {
    background: white;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.pub-card.dark-mode {
    background-color: #0f0f0f !important;
    color: #f3f3f3 !important;
}

.pub-card a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #2563EB;
    transform: translateY(-20px);
}

.pub-card a:hover {
    font-weight: bold;
}

.pub-card h2 {
    margin-bottom: 12px;
    font-size: 22px;
    color: #333;
}

ul {
    padding-left: 20px;
}

.kw {
    background: linear-gradient(90deg, rgba(0, 236, 212, 0.399), rgba(1, 202, 182, 0.205));
    padding: 2px 6px;
    border-radius: 6px;
    font-weight: 600;
}

@media only screen and (max-width: 520px) {
    .headline h1 {
        font-size: 16px;
        transform: translateY(-40px);
    }
}